{% extends 'base.html' %}

{% block title %}
    Who Am I?
{% endblock title %}

{% block content %}
    <section>
        <p>I started to work as a Patent Designer (good times CorelDraw). Those days were great and I used to like to draw.</p>
        <p>One day I thought: "I want to know more about mechanics and how the things works. I'm gonna make a course."</p>   
    </section>

    <section id="timeline">
        {% for job in jobs %}
            <article>
                <div class="inner">
                    <span class="date">
                        <span class="month">{{job.date|date:'M'}}</span>
                        <span class="year">{{job.date|date:'Y'}}</span>
                    </span>
                    <h2>{{job.company}}</h2>
                    <h3>{{job.position}}</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
                </div>
            </article>
        {% endfor %}
    </section>   
{% endblock content %}