{% extends 'base.html' %}
{% load markdown_extras %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <ul>
        {% for post in posts %}
            <div>
                <div><img src="" alt="..."></div>
                {% for tag in post.tags.all %}<span> {{tag}} </span>{% endfor %}
                <h3>{{post.title}}</h3>
                <p>{{post.content|markdown|safe}}</p>
                <div>{{post.author}} - {{post.date|date:'M d, Y'}}</div>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}